.main__app {
    font-family: Roboto, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main__app::after {
  content: "";
  background: url('./assets/bg.jpeg') repeat;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1, h3 {
    text-align: center;

}

.footer {
    background-color: black;
    color: white;
    height: 40px;
    text-align: center;
    padding-top: 20px;
}

.todo {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 2px 2px darkgray;
    border-radius: 4px;
    padding: 5px;
    margin: 0 auto;
}

.ollieKey, .downKey {
    display: flex;
    flex-direction: row;
    width: 100px;
    margin: auto;
    text-align: left;
    padding: 10px 0;

}

.keyImg {
    height: 32px;
    width: 32px;
    padding-left: 10px;
}
