.main__app {
    font-family: Roboto, sans-serif;
    /* background-image: url('./assets/bg.jpeg');
    background-repeat: repeat;
    opacity: 0.2; */
    width: 100%;
    height: 100%;

}

/* .main__app {
    content: " ";
    background: url('./assets/bg.jpeg') repeat;
} */

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}


.game {
    opacity: 1;
}
